@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
  "liga" 1,
  "calt" 1, /* Contextual Alternates */
  "dlig" 1, /* Discretionary Ligatures */
  "ss07" 1, /* fSquare punctuation */
  "ss08" 1, /* Square quotes */
  "zero" 1, /* Slashed zero */
  "tnum" 1, /* Tabular numbers */
    "cv03" 1, /* Open six */
    "cv04" 1, /* Open nine */
    "cv01" 1, /* Alternate one */
    "cv09", /* Flat-top three */
    "cv02" 1; /* Open 4 */
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

:root {
  --astro-code-color-text: #000000;
  --astro-code-color-background: #f5f5f5;
  --astro-code-token-constant: #00000080;
  --astro-code-token-string: #00000050;
  --astro-code-token-comment: #00000060;
  --astro-code-token-keyword: black;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: black;
  --astro-code-token-string-expression: #fe351b;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;

}


.prose-styles {
  @apply text-sm prose text-neutral-600 dark:text-neutral-600 prose-a:font-normal prose-a:text-blue-400 hover:prose-a:text-black prose-h1:text-black prose-img:border-2  prose-img:bg-neutral-50 dark:prose-img:bg-neutral-800 prose-img:border-transparent dark:prose-img:invert prose-h2:text-black prose-h2:font-semibold prose-p:text-sm prose-pre:font-mono max-w-none prose-pre:rounded-none prose-headings:font-display;
}

.main_cover {
  height: 70vh;
  aspect-ratio: 16/9;
}
.header_container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin-top: 15px; */
}
.header_container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 660px;
}
.header_container img {
  height: 50vh;
}
.header_name {
  font-size: 11.9vw;
  margin: -3vw 0;
}
.menu {
  padding-left: 5vw;
  padding-right: 5vw;
}
.content {
  /* padding-right: 7vw; */
  padding-left: 7vw;
}
.gallery {
  max-width: 900px;
  margin: 0 auto;
}
.gallery__item img {
  width: 100%;
}
.gallery_cover {
  max-height: 370%;
  width: 100%;
  margin-bottom: 1.5rem;
}
.gallery_cover_first {
  object-fit: cover;
  max-height: 370%;
  /* width: 100%; */
  margin-bottom: 1.5rem;
}
.mirror-r {
  position: absolute;
  right: 5px;
  transform: scaleX(-1);
  line-height: 23px;
}
.enter_btn:hover .mirror-r {
  position: initial;
  right: 0px;
  transform: scaleX(1);
  line-height: initial;
}
.enter_btn:hover {
  padding-right: 0.36rem
}
.enter_btn {
  padding-right: 1rem
}

.about {
  max-height: 87vh;
  /* max-width: 60vw; */
  
}
.about a {
    color: #000;
    text-decoration: underline;
}
.about span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lg-backdrop    { background-color: #fff; }
.lg-thumb-outer { background-color: #fff; }

.about p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  font-style: normal;
  margin-bottom: 1rem;
  font-size: 16px;
  max-width: 65ch;
}

@media screen and (max-width: 768px) {
  .about {
    max-height: initial;
    max-width: initial;
    height: 100%;
  }
  .menu {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .content {
    padding-right: 0vw;
    padding-left: 0vw;
  }
  .gallery_cover_first {
    object-fit: initial;
    max-height: initial;
    margin-bottom: initial;
  }
}
.lg-backdrop, .lg-thumb   { background-color: rgb(249 250 251 / var(--tw-bg-opacity))!important; }

/* @media screen and (max-width: 860px) {
  .header_container img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 660px;
  }
  .header_container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
} */
/* FONTS */

.nunito-light {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.nunito-thin {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
}
.nunito-medium {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.nunito-black {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
