---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import coverImage from '@/assets/andrea_second.jpg';
import signatureImage from '@/assets/signature.png';
import Contact from '@/components/global/Contact.astro';
import { getCollection } from 'astro:content';

const entry = await getCollection('about');
const { Content } = await entry[0].render();
---

<BaseLayout>
  <div class="about flex flex-col md:flex-row mr-4 justify-between">
    <div class="flex flex-col md:flex-row">
      <div class="relative md:w-1/2 pl-4 md:pl-6 mb-4 md:mb-0" title="Andrea Drev">
        <Image class="z-50 absolute w-1/2 bottom-0 left-0" src={signatureImage} alt="Header Image" />
        <Image
          class="w-full max-h-80 sm:max-h-96 md:max-h-full md:h-full object-cover object-top"
          src={coverImage}
          alt="Header Image"
        />
      </div>
      <div class="flex justify-between flex-col px-4 md:px-6 md:w-1/2">
        <!-- <p>About</p> -->
        <div class="text-sm sm:text-base text-gray-600 text-justify"><Content /></div>
        <div class="hidden md:block">
          <Contact />
          <div class="mt-10 2xl:mt-0"></div>
        </div>
      </div>
    </div>
    <div class="md:hidden mt-4 mb-10 mx-4">
      <Contact />
    </div>
  </div>
</BaseLayout>
