---
import EmptyLayout from '@/layouts/EmptyLayout.astro';
import { Image } from 'astro:assets';
import coverImage from '@/assets/main_cover.jpeg';
import signatureImage from '@/assets/signature.png';
---

<EmptyLayout>
  <a href="/about" class="h-full relative" title="CLICK TO ENTER">
    <Image class="z-50 absolute w-1/2 bottom-0 left-0" src={signatureImage} alt="Header Image" />
    <Image class="w-full h-full object-cover cursor-pointer" src={coverImage} alt="Header Image" />
  </a>
</EmptyLayout>
