---
import EmptyLayout from '@/layouts/EmptyLayout.astro';
import { Image } from 'astro:assets';
import coverImage from '@/assets/main_cover.jpeg';
import signatureImage from '@/assets/signature.png';
---

<EmptyLayout>
  <a href="/about" class="h-full w-full" title="CLICK TO ENTER">
    <Image class="absolute w-1/2 bottom-0 left-0" src={signatureImage} alt="Header Image" />
    <!-- <button
      class="enter_btn absolute top-1/2 bottom-1/2 left-1/2 right-1/2 px-2 py-1 pb-7 border text-gray-50 border-white"
      >ENTE<span class="mirror-r">R</span></button -->
    <button class="absolute top-1/2 bottom-1/2 left-1/2 right-1/2 px-2 py-1 pb-7 text-gray-50">ENTER</button>
    <Image class="w-full h-full object-cover cursor-pointer" src={coverImage} alt="Header Image" />
  </a>
</EmptyLayout>
