<nav class="bg-gray-50 px-4 my-0">
  <div class="flex justify-between items-center h-16">
    <!-- Branding/Logo -->
    <div class="flex-shrink-0">
      <a href="/" class="roboto-regular text-xl">Andrea.Drev</a>
    </div>

    <!-- Navigation Links -->
    <div class="hidden md:block ml-auto">
      <ul class="flex space-x-8">
        <li><a href="#" class="text-lg roboto-regular text-gray-800 hover:text-gray-900">Work</a></li>
        <li><a href="#" class="text-lg roboto-regular text-gray-800 hover:text-gray-900">About</a></li>
        <li><a href="#" class="text-lg roboto-regular text-gray-800 hover:text-gray-900">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
